{% extends 'base.html' %}
{% block title %}
    View
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Questions:</h1>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Question Code</th>
                    <th>Timelimit</th>
                    <th>Input File</th>
                    <th>Output File</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{question.quescode}}</td>
                    <td>{{question.timelimit}}</td>
                    <td><a href="{{question.ip_file.url}}" target="_blank">View</a></td>
                    <td><a href="{{question.op_file.url}}" target="_blank">View</a></td>
                    <td><a href="/question/edit/{{question.id}}" target="_blank">Edit</a> /
                        <a href="/question/delete/{{question.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <p>Return <a href="/judge">Home.</a></p>
    </div>
{% endblock %}